<footer>
  <div class="links">
    <ul aria-label="About">
      <li><a href="{{ site.links.chat }}">Chat</a></li>
      <li><a href="/logo.html">Logo</a></li>
    </ul>
    <ul aria-label="Documentation">
      <li><a href="{{ site.links.tutorial }}">Tutorial</a></li>
      <li><a href="{{ site.links.api }}">API Reference</a></li>
      <li><a href="{{ site.links.marked }}">Example App</a></li>
    </ul>
    <ul aria-label="Get Involved">
      <li><a href="{{ site.links.repo }}">Repository</a></li>
      <li><a href="{{ site.links.org }}">Organization</a></li>
      <li><a href="{{ site.links.issues }}">Submit a Bug</a></li>
    </ul>
  </div>
  <div class="copy">
    &copy; 2015 &mdash; <a href="http://eudoxia.me/">Fernando Borretti</a>
  </div>
</footer>
<script>
  HighlightLisp.highlight_auto();
</script>
