---
---

@charset 'utf-8';

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

/* Variables */

$mobile-size: 740px;

$sans-font: 'Lato';
$serif-font: 'Cardo';

$navbar-font: 400 20px $sans-font;
$landing-font: 400 20px $sans-font;
$footer-font: 400 18px $sans-font;

$link-color: #960018;

$gray: #fbfbfb;

$navbar-height: 50px;

$footer-height: 250px;

/* Mixins */

@mixin on-desktop() {
  /* Style for large devices */
  @media (min-width: $mobile-size) {
    @content;
  }
}

@mixin on-mobile() {
  /* Style for mobile devices */
  @media (max-width: $mobile-size) {
    @content;
  }
}

/* Global style */

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;

  &:hover {
    border-bottom: 1px solid $link-color;
  }
}

nav {
  background: white;
  font: $navbar-font;
  display: flex;

  @include on-desktop() {
    flex-direction: row;
    justify-content: space-around;
  }

  @include on-mobile() {
    flex-direction: column;
  }

  z-index: 1;
  box-shadow: 0px 1px 3px #ddd;

  .brand, .links {
    padding: 15px;
  }

  @include on-desktop() {
    .brand {
      margin-left: 50px;
    }

    .links {
      margin-right: 50px;
    }
  }

  .brand {
    flex: 1;

    @include on-mobile() {
      text-align: center;
    }
  }

  .links {
    flex: 1;

    @include on-desktop() {
      text-align: right;
    }

    @include on-mobile() {
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 0 15px;
    }
  }
}

footer {
  min-height: $footer-height;
  background: $gray;
  font: $footer-font;
  padding: 55px;
  margin-top: 100px;

  .links {
    display: flex;

    @include on-mobile() {
      flex-direction: column;
    }

    ul {
      display: inline-block;
      font-size: 1em;

      @include on-mobile() {
        display: block;
        margin: 30px auto;
        text-align: center;
      }

      li {
        width: 175px;
        margin-top: 10px;
        list-style-type: none;
        font-weight: 300;
        font-size: 0.9em;

        @include on-mobile() {
          text-align: center;
        }

        &:first-child {
          margin-top: 12px;
        }

        a {
          color: #333;
          text-decoration: none;
        }
      }

      &:before{
        content:attr(aria-label);
        font-weight: bold;
      }
    }
  }

  .copy {
    margin-top: 30px;

    @include on-mobile() {
      text-align: center;
    }
  }
}

/* Window component */

.window {
  width: 100%;
  padding: 20px;

  .titlebar {
    text-align: center;
    border-radius: 5px 5px 0 0;
    height: 30px;
    line-height: 30px;
    font-family: $sans-font;
    font-size: 15px;
    background: #f3f3f5;
    color: #555;
  }

  .body {
    width: 100%;
    height: 300px;
    border: 1px solid #f3f3f5;
    border-top: 0px;

    pre {
      border: 0;
      background: white;
    }
  }
}

/* Landing page style */

.landing {
  font: $landing-font;

  header {
    height: 280px;
    overflow: hidden;

    h1 {
      font-size: 60px;
    }

    .text {
      font-size: 23px;
    }

    @include on-desktop() {
      h1 {
        margin: 60px;
        margin-bottom: 20px;
      }

      .text {
        margin-left: 60px;
      }
    }

    @include on-mobile() {
      text-align: center;

      h1 {
        margin-top: 50px;
        margin-bottom: 20px;
      }
    }
  }

  section {
    width: 100%;
    padding: 40px;

    .text {
      text-align: center;
      margin-bottom: 20px;
      font-size: 27px;
    }

    .desc {
      width: 60%;
      font-size: 22px;
      margin: 0 auto;

      p {
        text-align: justify;
      }
    }

    &:nth-child(odd) {
      background: white;
    }

    &:nth-child(even) {
      background: $gray;
    }
  }

  .example {
    .get-started {
      display: block;
      width: 250px;
      margin: 30px auto;
      padding: 15px;

      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .app-screenshot {
      background-image: url(/assets/img/app-screenshot.png);
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
    }

    .body:not(.app-screenshot) {
      background: white;
    }

    .column-container {
      width: 100%;
      display: flex;
      align-items: center;

      @include on-desktop() {
        flex-direction: row;
      }

      @include on-mobile() {
        flex-direction: column;
      }

      .column {
        @include on-desktop() {
          width: 50%;
        }

        @include on-mobile() {
          width: 100%;
        }
      }
    }
  }

  .platform {
    .systems {
      display: flex;
      justify-content: space-around;
      margin: 40px 0;

      @include on-mobile() {
        flex-direction: column;
        text-align: center;
      }

      li {
        list-style-type: none;
        display: inline-block;

        @include on-mobile() {
          margin-bottom: 20px;
        }

        i {
          font-size: 86px;
          color: #555;
        }
      }
    }
  }

  .bundle {
    .window {
      width: 550px;
      margin: 40px auto;

      .body {
        height: 150px;
      }
    }
  }

  .cl {
    .why {
      margin-top: 40px;
      text-align: center;
    }

    .features {
      $column-count: 2;
      $column-gap: 20px;

      margin-top: 20px;

      @include on-desktop() {
        -moz-column-count: $column-count;
        -moz-column-gap: $column-gap;
        -webkit-column-count: $column-count;
        -webkit-column-gap: $column-gap;
        column-count: $column-count;
        column-gap: $column-gap;
      }

      li {
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
      }
    }
  }
}
